# IDE / Editor
.idea/
__pycache__/

# Backtesting Directories
.backtest/
.backtest_new/
backtest/
logs/

# All DuckDB Files
*.duckdb
*.duckdb.wal
*.duckdb.tmp
hft.duckdb

# All Parquet Data Files
*.par
*.parquet